<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Channel>xenonicdev</Channel>
  <ChatColor>240:255:255:255</ChatColor>
  <ChatOutlineColor>255:20:147:255</ChatOutlineColor>
  <ChatSize>25</ChatSize>
  <ChatBold>true</ChatBold>
  <ChatOutlineThickness>4</ChatOutlineThickness>
  <OverlayX>1370</OverlayX>
  <OverlayY>50</OverlayY>
  <OverlayWidth>500</OverlayWidth>
  <OverlayHeight>800</OverlayHeight>
</Settings>